// Header 
@mixin show-from($delay) {
  animation: show-from .5s (.5 + .25s * $delay) both;
}
#body-home #header {
  .image svg   { --main: #{ $white }; }
  .image       { @include show-from(0); --show-from: scale(3); }
  .subtitle    { @include show-from(1); }
  .md .buttons { @include show-from(2); margin-top: 0;}
  .md p        { @include show-from(3); }
}
